.lower-header {
    height: 50px;
    background-color: #fff;
    box-shadow: 0 0 7px 0 #999;

    &::after {
        content: '';
        display: table;
        clear: both;
    }

    .lower-header-inner {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }

    .logo {
        top: -10px;
        left: 0;
        margin: 0;
        width: 89px;
        height: 73px;
        transition: all .2s .2s linear;
        position: absolute;

        img {
            height: inherit;
            display: block;
            max-width: 100%;
        }
    }

    .search-and-cart {
        float: right;
    }

    .header-search {
        float: none;
        padding-left: 0;
        width: 220px;
        display: inline-block;
        vertical-align: middle;

        .form {
            position: relative;

            input {
                border-radius: 6px;
                border: none;
                height: 30px;
                width: 100%;
                padding: 0 50px 0 10px;
                color: #333;
                font-size: 13px;
                background-color: #eaeaea;
                box-shadow: inset 1px 1px 0 #999;
            }

            button {
                background-color: red;
                border-radius: 0 6px 6px 0;
                border: none;
                color: #fff;
                cursor: pointer;
                height: 30px;
                opacity: 1;
                padding: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 30px;
                z-index: 3;
            }

            .icon {
                position: absolute;
                top: 8px;
                left: 9px;
                margin: auto;
                border-radius: 50%;
                border: 2px solid;
                width: 11px;
                height: 11px;

                &::after {
                    content: '';
                    position: absolute;
                    right: -2px;
                    bottom: -6px;
                    height: 7px;
                    width: 2px;
                    background-color: #fff;
                    transform: rotate(145deg);
                }
            }
        }
    }

    .header-cart-wr {
        display: inline-block;
        vertical-align: middle;
    }

    .header-cart {
        display: block;
        float: right;
        height: 50px;
        line-height: 50px;
        padding-left: 18px;

        .label {
            font-weight: bold;
            position: relative;
            min-width: 85px;
            color: red;
        }

        .icon {
            margin-left: 5px;
            float: right;
            width: 34px;
            height: 50px;
            transition: top .4s .2s linear;
            background: url('./images/headerfooter.png') no-repeat -148px 0;
        }
    }
}