:local .navSections {
    background: none;
    float: left;
    padding-left: 90px;
    transition: padding-left .2s .2s linear;

    .navList {
        li {
            display: inline-block;

            .navLink {
                line-height: 50px;
            }

            a {
                display: block;
                color: #333;
                font: bold 14px 'Primary-Medium', Arial;
                padding: 0 10px;
                text-transform: uppercase;
            }

            &:hover .navContent {
                top: 100%;
                opacity: .95;
            }
        }
    }

    .navContent {
        position: absolute;
        top: -9999px;
        left: 0;
        right: 0;
        opacity: 0;
        padding-top: 35px;
        padding-bottom: 25px;
        padding-left: 90px;
        background-color: #fff;
        transition: opacity .35s ease-in-out;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            right: -100%;
            bottom: 0;
            z-index: -1;
            background-color: #fff;
            border-top: 1px solid #ccc;
            box-shadow: 0 7px 7px -7px #999;
        }
    }

    .navSubItem {
        display: inline-block;
        vertical-align: top;
        width: 140px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .navSubItemTitle {
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;

        a {
            color: red;
            display: inline-block;
        }
    }

    .navItem {
        &:hover .navLink {
            background-color: red;
            color: #fff;

            &::after {
                display: block;
            }
        }

        .navLink {
            position: relative;

            &::after {
                content: '';
                display: none;
                width: 0;
                height: 0;
                margin-left: -8px;
                position: absolute;
                top: 100%;
                left: 50%;
                z-index: 1;
                border-top: 8px solid red;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
            }
        }
    }

    .navSublist {
        .navSubmenu {
            margin-top: 15px;
        }

        .navSubmenuItem {
            display: block;
            margin-bottom: 7px;
            padding-bottom: 0;

            a {
                color: #333;
                display: block;
                text-transform: inherit;
            }
        }
    }
}

