.region-selector {
    background: #fff;
    box-shadow: 0 0 7px 0 #999;
    border-radius: 5px;
    color: #666;
    display: none;
    line-height: 1.1;
    padding: 10px 30px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 45px;
    width: 720px;
    z-index: 500;

    .inner {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -20px;
            right: -5px;
            width: 0;
            height: 0;
            border-bottom: 10px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }
    }

    .region {
        padding-right: 20px;
    }

    .region-name {
        border-bottom: 1px solid #ccc;
        text-transform: uppercase;
        padding: 10px 0;
        margin: 10px 0;
        font-family: 'Primary-Bold',Arial,Helvetica,sans-serif;
        color: red;
        font-size: 14px;
    }

    .country-container {
        .link {
            text-transform: uppercase;
            font-size: 14px;
            font-family: 'Primary-Medium',Arial,Helvetica,sans-serif;
            padding: 4px 0;
            color: #666;
            text-decoration: none;
        }
    }
}

.left {
    float: left;
}

.forty {
    width: 40%;
}

.sixty {
    width: 60%;
}